%h2.ingredient-heading つまみの管理

- if @ingredient
  - if @ingredient.errors.any?
    .alert.alert-danger{role: "alert"}
      %ul
        - @ingredient.errors.full_messages.each do |msg|
          %li= msg

%ul.ingredient-list
  - current_user.ingredients.each do |item|
    %li
      =item.name
      =link_to ingredient_path(item.id), method: :delete do
        %i.fa.fa-trash.delete-ingredient

.mordal-trigger-buttons
  = render "combinations/shared/ingredients_modal"
