%p
  %span tsumamiawase
  は
  %b つまみ
  と
  %b 食べ合わせ
  を足してできた造語です。

%p お酒のつまみと、それに合わせる調味料のお気に入りのかけあわせを登録しておくことができます。

%p たとえば…

%ul
  %li
    %b マグロの刺身
    ×
    %b 醤油
  %li
    %b ヒラメの刺身
    ×
    %b ポン酢

%p
  %mark 早速かけあわせを作ってみましょう！
